body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;
    color: red;
}
h1{
    font-size: 50px;
    margin: 0;
}
p{
    font-style: italic;
}
h2{
    color: grey;
    border-top: solid 1px darkmagenta;
}
ol{
    border-bottom: solid 1px black
}